<!DOCTYPE html>
<html>
     <head>
          <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     </head>
     <body>
          <p>
              Hi <%= @finder.name %>,<br/><br/>
              The item you found: <%= @found_item.title %><br/><br/>
              ... may be <%= @seeker.name %>'s lost item:
              &nbsp;&nbsp;&nbsp;&nbsp;<ul>
                <li>Name: <%= @lost_item.title %></li>
                <li>Color: <%= @lost_item.color %></li>
                <li>Details: <%= @lost_item.details %></li>
              </ul>
              <%= @seeker.name %> provided the following additional specific details about their lost item:<br/><br/>
              &nbsp;&nbsp;&nbsp;&nbsp;<%= @lost_item.secret_info %><br/><br/>
              Please reply to <%= @seeker.email %> if you think its their item.<br/><br/><br/>
              Thanks for trying to making someone's life a little better,<br/><br/>
              The Oomerangers<br/><br/>
              <hr>
              Item returned? Please update Oomerang here: <%= @returned_url %><br/><br/>
              Lost it? Found it? <a href="http://www.oomerang.it">Oomerang.it</a>!<br/>
          </p>
     </body>
</html>