<!DOCTYPE html>
<html >
     <head>
          <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     </head>
     <body>
          <p>
              Hi <%= @finder.name %>,<br/><br/>
              You have successfully <%= @processed %> the following found item:
              &nbsp;&nbsp;&nbsp;&nbsp;<ul>
                <li>Name: <%= @found_item.title %></li>
                <li>Color: <%= @found_item.color %></li>
                <li>Details: <%= @found_item.details %></li>
              </ul><br/>
              Thanks for trying to making someone's life a little better,<br/><br/>
              The Oomerangers<br/><br/>
              <hr>
              Item returned? Please update Oomerang here: <%= @returned_url %><br/><br/>
              Lost it? Found it? <a href="http://www.oomerang.it">Oomerang.it</a>!<br/>
          </p>
     </body>
</html>